In [1]:
import pandas as pd
import numpy as np

In [2]:
bench = pd.read_csv('df_grouped_company_class_haul.csv')

In [3]:
bench = bench[bench.Company.isin(['Air France','Singapore Airlines','Lufthansa','British Airways','Cathay Pacific'])]

In [4]:
bench_lh = bench[bench['Flight Length'] == 'Long-Haul']
bench_mh = bench[bench['Flight Length'] == 'Mid-Haul']
bench_sh = bench[bench['Flight Length'] == 'Short-Haul']

In [5]:
bench_lh_e = bench_lh[bench_lh['Class'] == 'Economy Class']
bench_lh_pe = bench_lh[bench_lh['Class'] == 'Premium Economy']
bench_lh_b = bench_lh[bench_lh['Class'] == 'Business Class']
bench_lh_f = bench_lh[bench_lh['Class'] == 'First Class']

In [6]:
bench_mh_e = bench_mh[bench_mh['Class'] == 'Economy Class']
bench_mh_pe = bench_mh[bench_mh['Class'] == 'Premium Economy']
bench_mh_b = bench_mh[bench_mh['Class'] == 'Business Class']
bench_mh_f = bench_mh[bench_mh['Class'] == 'First Class']

In [7]:
bench_sh_e = bench_sh[bench_sh['Class'] == 'Economy Class']
bench_sh_pe = bench_sh[bench_sh['Class'] == 'Premium Economy']
bench_sh_b = bench_sh[bench_sh['Class'] == 'Business Class']
bench_sh_f = bench_sh[bench_sh['Class'] == 'First Class']

In [8]:
cols = ['Cabin Staff Service', 'Food & Beverages', 'Ground Service', 'Inflight Entertainment', 'Seat Comfort']

In [9]:
def getAvg(df):
    df.reset_index(drop=True, inplace=True)
    df.loc['Industrial Average'] = df[cols].mean()
    return df

In [10]:
def AvgDif(df):
    cols = ['Cabin Staff Service', 'Food & Beverages', 'Ground Service', 'Inflight Entertainment', 'Seat Comfort']
    size = df.shape[0]
    for i in range(size-1):
        for col in cols:
            df.loc[i, col] = df.loc[i, col] - df.loc['Industrial Average', col]
    return df

In [11]:
bench.head()

,Unnamed: 0,Class,Flight Length,Company,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Seat Comfort
9,9,Business Class,Long-Haul,Air France,4.187500,3.785714,1.809821,3.750000,3.901786
19,19,Business Class,Long-Haul,British Airways,4.258333,3.833333,1.905000,3.825000,4.116667
21,21,Business Class,Long-Haul,Cathay Pacific,4.277778,3.916667,2.197222,4.400000,4.738889
52,52,Business Class,Long-Haul,Lufthansa,4.111111,3.583333,1.952778,3.777778,3.652778
66,66,Business Class,Long-Haul,Singapore Airlines,4.453488,4.156977,2.169767,4.348837,4.465116

In [239]:
df_1 = getAvg(bench)

In [240]:
df_2 = AvgDif(df_1)

In [12]:
bench_lh_e = getAvg(bench_lh_e)
bench_lh_pe = getAvg(bench_lh_pe)
bench_lh_b = getAvg(bench_lh_b)
bench_lh_f = getAvg(bench_lh_f)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
bench_lh_e = AvgDif(bench_lh_e)
bench_lh_pe = AvgDif(bench_lh_pe)
bench_lh_b = AvgDif(bench_lh_b)
bench_lh_f = AvgDif(bench_lh_f)

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [17]:
bench_mh_e = AvgDif(bench_mh_e)
bench_mh_pe = AvgDif(bench_mh_pe)
bench_mh_b = AvgDif(bench_mh_b)
bench_mh_f = AvgDif(bench_mh_f)

In [18]:
bench_sh_e = AvgDif(bench_sh_e)
bench_sh_pe = AvgDif(bench_sh_pe)
bench_sh_b = AvgDif(bench_sh_b)
bench_sh_f = AvgDif(bench_sh_f)

In [20]:
bench_sh_b

,Unnamed: 0,Class,Flight Length,Company,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Seat Comfort
0,187.0,Business Class,Short-Haul,Air France,-0.439775,-0.409899,-0.196667,-0.397071,-0.517382
1,198.0,Business Class,Short-Haul,British Airways,0.300124,0.539596,-0.096667,-0.611717,0.083629
2,201.0,Business Class,Short-Haul,Cathay Pacific,0.088003,0.095657,0.016667,0.664040,0.288174
3,222.0,Business Class,Short-Haul,Lufthansa,-0.303023,-0.087677,-0.046667,-0.452626,-0.192595
4,241.0,Business Class,Short-Haul,Singapore Airlines,0.354670,-0.137677,0.323333,0.797374,0.338174
Industrial Average,NaN,NaN,NaN,NaN,4.245330,3.937677,2.046667,3.452626,3.961826

In [23]:
df = pd.concat([bench_lh_e,
                bench_lh_pe,
                bench_lh_b,
                bench_lh_f,
                bench_mh_e,
                bench_mh_pe,
                bench_mh_b,
                bench_mh_f,
                bench_sh_e,
                bench_sh_pe,
                bench_sh_b,
                bench_sh_f,
                ],
                axis=0)

In [26]:
df = df.dropna()

In [27]:
df.to_csv('Benchmark.csv')